//<МИКСИНЫ>================================================================================================================================

//</МИКСИНЫ>===============================================================================================================================

//<ШРИФТЫ>=================================================================================================================================

// <Подключаем шрифты>=====================================================================================================================
@import "fonts";
// </Подключаем шрифты>=====================================================================================================================

// <Шрифт по умолчанию>=====================================================================================================================
$fontfamily: "Lato";
// </Шрифт по умолчанию>====================================================================================================================

//</ШРИФТЫ>=================================================================================================================================

//<ПЕРЕМЕННЫЕ>==============================================================================================================================
$minwidth: 320px;

//</ПЕРЕМЕННЫЕ>=============================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================================================================================
@import "reset";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================================

//<ОБОЛОЧКА>================================================================================================================================
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
//</ОБОЛОЧКА>================================================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================================
body {
  font-family: "Open Sans", sans-serif;
  color: #48555b;
  // min-width: 320px;
  // &.lock{
  //   overflow: hidden;
  // }
}

@media (max-width: 768px) {
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 0.9);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
  }
  .overlay_show {
    visibility: visible;
    opacity: 1;
  }
}
.container {
  max-width: 970px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}
.title {
  color: #48555b;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 50px;
    height: 2px;
    background-color: #00a4e5;
  }
}
.button {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  background-color: #00a4e5;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  white-space: nowrap;
  box-shadow: 0 3px 0 rgb(60, 60, 80 / 0.53);
  transition: all 0.2s;
  position: relative;
  text-transform: uppercase;
  top: 0;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  &:active {
    top: 2px;
    box-shadow: 0 1px 0 rgb(60, 60, 80 / 0.53);
  }
}
.main {
  // .main__menu
  &__menu {
    padding: 24px 0;
  }
  // .main__story
  &__story {
    padding: 55px 0px 120px 0px;
  }
  // .main__services
  &__services {
    padding: 0px 0px 115px 0px;
  }
  &__getInTouch {
    padding: 120px 0px 231px 0px;
  }
  // .main__newslater
  &__newslater {
    padding: 30px 0px;
  }
  @media (max-width: 769px) {
    &__btn {
      &:hover,
      &:focus {
        transform: none;
      }
    }
  }
  @media (max-width: 520px) {
    &__story {
      padding: 35px 0px 60px 0px;
    }
    &__services {
      padding: 0px 0px 55px 0px;
    }
    &__getInTouch {
      padding: 30px 0px 231px 0px;
    }
  }
}

//</ОСНОВНАЯ СЕТКА>==========================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================
@import "header";
@import "menu";
@import "story";
@import "services";
@import "_getInTouch.scss";
@import "_newslater.scss";
@import "_footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===========================================================================================

//<ОСНОВНОЙ БЛОК>============================================================================================================================

//===========================================================================================================================================
